body {
  font-family: Roboto, sans-serif;
  font-variant-alternates: normal;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 24px;
}
a,
button :hover,
:focus {
  color: #404bbf;
}
button {
  cursor: pointer;
}
a {
  color: #434455;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
.header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
.header2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
}
.header3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
